$shape-size: 80px;
body{
    font-family: 'Barlow Semi Condensed', Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    padding: 1.5em;
}
.container{
    max-width: 680px;
}
.btn{
    display: block;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 15px 40px;
    margin: 1em auto;
}
.invisible{
    display: none;
}
header{
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        margin: 0;
        margin-left: 0.5em;
    }
    img{
        display: block;
        max-height: 60px;
    }
    .scoreboard{
        text-align: center;
        padding: 0.5em 1.5em;
        width: fit-content;
        background-color: #ffffff;
        font-weight: 700;
        box-sizing: border-box;
        border-radius: 5px;
        span{
            display: block;
        }
        .score-text{
            color:hsl(229, 64%, 46%);
            text-transform: uppercase;
            font-size: 0.7em;
        }
        .score{
            color: hsl(229, 25%, 31%);
            font-size: 2em;
        }
    }
}
.summary{
    margin: 7em 0;
}
.shapes{
    background-image: url('../images/bg-pentagon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 240px;
    max-width: 300px;
    .row{
        display: flex;
        &:first-child{
            justify-content: center;
            transform: translateY(-50%);
        }
        &:nth-child(2){
            justify-content: space-between;
            transform: translateY(-50%);
        }
        &:nth-child(3){
            justify-content: space-around;
            transform: translateY(50%);
        }
    }
}
.shape{
    display: block;
    height: $shape-size;
    width: $shape-size;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    img{
        display: block;
        width: 60%;
        margin: auto;
    }
}
.scissors{
    border-color: hsl(39, 89%, 49%);
}
.spock{
    border-color: hsl(189, 59%, 53%);
}
.paper{
    border-color: hsl(230, 89%, 62%);
}
.lizard{
    border-color: hsl(261, 73%, 60%);
}
.rock{
    border-color: hsl(349, 71%, 52%);
}
.choices{
    color: #ffffff;
    text-transform: uppercase;
    .row{
        display: flex;
        justify-content: space-between;
    }
    .column{
        text-align: center;
    }
    .shape{
        margin: auto;
        width: calc(#{$shape-size} + 25px);
        height: calc(#{$shape-size} + 25px);
    }
    .result{
        text-align: center;
        font-size: 2.5em;
        font-weight: 700;
        span{
            display: block;
        }
    }
}
.play-again{
    text-transform: uppercase;
}
.rules{
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
}
//Attribution text
.attribution {
    font-size: 11px;
    text-align: center;
    color: #ffffff;
}
.attribution a {
    color: rgb(109, 138, 255);
}